body{
  background-color: hsl(0, 0%, 8%);
  

}

.main{
  font-family: 'Inter';
  background-color: hsl(0, 0%, 12%);
  width: 70%;
  margin-top: 70px;
  margin-bottom: 70px;
 padding-top: 20px;
 padding-bottom: 40px;
 border-radius: 7px;
}
.image1{
  width: 20%;
  height: auto;
  border-radius: 50%;
}


.btndiv{
  width: 80%;
  margin: auto;

}
.btn{
  color: white;
  background-color: hsl(0, 0%, 20%);
  margin-top: 15px;
}

.text-green{
  color: hsl(75, 94%, 57%);
}

.text-white{
  color: white;
}

.mt{
  margin-top: 30px;
  opacity: 70%;
}

.bold-text{
  font-size: 20px;
  font-weight: 700;
}

.chname{
  margin-top: 20px;
  font-size: 2vw;
}

.responsive{
  font-size: 3vw;
}
